html{
	height: 100%;
}
body{
	height: 100%;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 20;

}
header {
	text-align: right;
	margin-right:50px;
	padding: 12px;
}

input[type=text]{
	width: 15%;
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-right:50px;
	display: inline-block;
}
main{
	height: 70%;
	margin-top: 100px;
}
footer {
  margin-left:100px;
  padding: 5px;
  display: inline;
}
#foot{
	margin-left:900px;
	display: inline;
}
